.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.game-over {
    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    background-color: var(--bg-color);

    padding: 3rem;
    border-radius: 10px;

    display: grid;
    gap: 4rem;

    min-width: 250px;
}

.game-over h2 {
    font-size: 6rem;
}

.game-over p {
    font-size: 2.5rem;
}

.game-over button {
    padding: 1rem 3rem;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 2.5rem;

    width: fit-content;
    justify-self: center;
}

@media (max-width: 1192px) {
    .game-over {
        padding: 2.5rem;
    }

    .game-over h2 {
        font-size: 5rem;
    }

    .game-over p {
        font-size: 2rem;
    }

    .game-over button {
        font-size: 2rem;
    }
}

@media (max-width: 1032px) {
    .game-over {
        padding: 2rem;
        gap: 2.5rem;
    }

    .game-over h2 {
        font-size: 4rem;
    }

    .game-over button {
        padding: 0.5rem 1.5rem;
    }
}

@media (max-width: 469px) {
    .game-over {
        padding: 1.5rem;
        gap: 2rem;
    }

    .game-over h2 {
        font-size: 3rem;
    }

    .game-over p {
        font-size: 1.5rem;
    }

    .game-over button {
        font-size: 1.5rem;
        padding: 0.5rem 1.5rem;
    }
}
